:root{
  --dark-green: rgb(15, 48, 30);
  --light-blue: rgb(149, 197, 209);
}

* {
  box-sizing: border-box;
  background-color: rgb(187, 221, 193);
}

body {
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  font-size: 30px;
  width: 70%;
}

a{
  text-decoration: none;
  font-family:'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  color:black;
}

a:visited{
  color: black;
}


h1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 45px;
}

h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  border-bottom: solid;
  border-color: var(--dark-green);
  margin-bottom: 15px;
}


/* Navigation bar */
.nav-bar{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.nav-bar > a:hover{
  color:rgb(45, 167, 120);
}

header{
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  border-bottom: solid;
  border-width: 20px;
  border-color: var(--dark-green);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


/* About section */
#about {
  padding-top: 170px;
}

#about-flex-container > img{
  height: auto;
  width: 350px;
}

#about-flex-container{
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-around;
}
#work, #contact{
  padding-top: 100px;
}

#contact{
  padding-bottom: 25px;
}

/* Projects Grid */

#calculator{
  grid-area: calculator;
}

#weather-app{
  grid-area: weather-app;
}

#accessibility-refactoring{
  grid-area: accessibility-refactoring;
}

#sign-up-form{
  grid-area: sign-up-form;
}

#etch-a-sketch{
  grid-area: etch-a-sketch;
}

#work-container{
  display:grid;
  height: auto;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "calculator calculator"
  "calculator calculator"
  "weather-app accessibility-refactoring"
  "sign-up-form etch-a-sketch";
  row-gap: 50px;
}

.project{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column;
}

.project a {
  position: relative;
}

h3{
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  position: absolute;
  top: 0;
  right:0;
  border-bottom-left-radius: 3px;
  background-color: var(--light-blue);
}


#main-project-image{
  height: auto;
  width: 800px;
  border: solid var(--light-blue) 10px;
}

.small-project-image{
  height: auto;
  width: 550px;
  border: solid var(--light-blue) 5px;
}

/* Contact Section */
#contact-flex-container{
  display: flex;
  justify-content: space-around;
}

.contact-links{
  display: inline;
}

.contact-links > a:hover{
  color: #060663;
}

/* Media Queries */

@media only screen and (max-width: 800px) {
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  h1{
    font-size: 40px;
  }

  .nav-bar{
    display: flex;
    justify-content: center;
  }

  .nav-bar > a{
    font-size: 90%;
  }

  #about {
    padding-top: 120px;
  }

  p{
    font-size: 20px;
  }

  #work-container{
    display:grid;
    height: auto;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "calculator"
    "weather-app" 
    "accessibility-refactoring"
    "sign-up-form"
    "etch-a-sketch";
    column-gap: 10px;
  }

  #main-project-image{
    height: auto;
    width: 100%;
  }
  
  .small-project-image{
    height: auto;
    width: 100%;
  }

  h2{
    font-size: 30px;
  }

  h3{
    font-size: 70%;
  }

  .contact-links > a {
    font-size: 20px;
  }
}