* {
  box-sizing: border-box;
  background-color: rgb(197, 224, 255);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a{
  text-decoration: none;
  color:black;
}

a:visited{
  color: black;
}

header img {
  height: auto;
  max-width: 50%;
}

.nav-bar, .contact-links{
  display: inline;
}