* {
  box-sizing: border-box;
  background-color: rgb(197, 224, 255);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a{
  text-decoration: none;
  color:black;
}

a:visited{
  color: black;
}

header img {
  height: auto;
  max-width: 50%;
}

.nav-bar, .contact-links{
  display: inline;
}

#calculator{
  grid-area: calculator;
}

#weather-app{
  grid-area: weather-app;
}

#accessibility-refactoring{
  grid-area: accessibility-refactoring;
}

#sign-up-form{
  grid-area: sign-up-form;
}

#etch-a-sketch{
  grid-area: etch-a-sketch;
}

#work-container{
  display:grid;
  height: auto; 
  width: 90%;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "calculator calculator"
  "calculator calculator"
  "weather-app accessibility-refactoring"
  "sign-up-form etch-a-sketch";
}

#main-project-image{
  height: auto;
  width: 800px;
}

.small-project-image{
  height: auto;
  width: 450px;
}